# build and ide artefacts
/target
/.idea
/.vscode

# other artefacts
/*_vex.json
/*_example.json
/*_ignored.json
/*.pdf
/*VEX.json
/*VDR.json
/run_test*

# Prevent generated PDFs in test source directories
tests/test_artifacts/bom_src/**/*.pdf
